html {
    margin: 0;
}

body {
    background-color: rgb(0,100,100);
}

#header{
    margin:0;
}

#portfolio {
    max-width: 500px;
    margin:auto;
}

#portfolio img{
    max-width: 500px;
    padding: 20px;
    font-family: 'Stylish', sans-serif;
}

#portfolio p{
    padding-left:40px;
    font-family: 'Indie Flower', cursive
}

#portfolio h1{
    padding-left:40px;
    Fontsize:80 
    font-family: 'Indie Flower', cursive
